extends ./layout/index

block contenido
  main.container.mt-5 
    .row 
      .col-md-5
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
      .col-md-7 
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique rutrum imperdiet. Sed vulputate est a pretium ullamcorper. Nam ultricies accumsan dapibus. Aenean id ante eu mi molestie pharetra. Sed iaculis massa at sem scelerisque lobortis. Pellentesque ligula.

        p ac augue eu lacus tristique fermentum et in purus. Morbi id augue sit amet tellus tincidunt convallis dictum ut diam. Vestibulum gravida turpis sed quam malesuada ultricies. Suspendisse vel porttitor felis, at condimentum risus. Vestibulum est felis, ullamcorper in nisi.

        p magna felis, feugiat eget felis vulputate, laoreet lacinia purus. Duis at magna risus. Ut accumsan felis risus. Proin semper nisl non urna congue convallis. Nulla ornare sed purus eget faucibus. Nam commodo pharetra tincidunt. Proin euismod turpis est, a convallis magna malesuada sit amet.
  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid md-4")
          h2.md-4 Seguridad 
          p Proin semper nisl non urna congue convallis. Nulla ornare sed purus eget faucibus. Nam commodo pharetra tincidunt. Proin.
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono icono_destinos" class="img-fluid md-4")
          h2.md-4 Destinos 
          p Proin semper nisl non urna congue convallis. Nulla ornare sed purus eget faucibus. Nam commodo pharetra tincidunt. Proin.
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono icono_precios" class="img-fluid md-4")
          h2.md-4 Precios 
          p Proin semper nisl non urna congue convallis. Nulla ornare sed purus eget faucibus. Nam commodo pharetra tincidunt. Proin.